.column {
    width: 280px;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 14px;
    padding: 12px;
    margin: 7px;
    transition: 0.3s ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.iconBtn {
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
    transition: 0.1s ease;
}
.iconBtn:hover {
    color: rgba(255, 255, 255);
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empty {
    margin: 0;
    opacity: 0.7;
    font-size: 13px;
}

.column:hover {
    border: 1px solid rgba(255, 255, 255, 0.23);
    transform: translateY(-2px);
}
